<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
  <title>mis cursos</title>
  <%- include("../Global/headers") %>
    <link rel="stylesheet" href="/css/cursos.css" media="screen">
</head>

<body class="u-body">
  <%- include('../Global/menu')%>

    <div class="modal fade" id="modalOpinar" tabindex="-1" aria-labelledby="modalOpinarLabel" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content bg-light">
          <div class="modal-header border-bottom-0">
            <h5 class="modal-title" id="modalOpinarLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body ">
            <div class="container bg-white mt-3 py-5">
              <div class="row mx-0 ">
                <div class="col-3 d-flex justify-content-lg-end justify-content-md-start ps-0">
                  
                  <img class="imagenPerfil" src="/images/Perfil/<%= user.imagen_perfil%>" style="width: 50px; height:50px;">
                </div>
                <div class="col-9 row mx-0 d-flex justify-content-start">
                  <input id="opinion" type="text" placeholder="Ingrese su opinión">
                </div>
              </div>
              <div class="row pb-2 border-bottom ">
                <button type="submit" onclick="guardarOpinion()" >Enviar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span class="sr-only" id="idGrupo"></span>
    <span class="sr-only" id="idUsuario"><%= user.id_usuario%></span>
    <section class="u-clearfix u-custom-color-1 u-section-1" id="sec-31be">
      <div class="u-clearfix u-sheet u-sheet-1" id="miscursos">

      </div>
    </section>
    <%- include('../Global/menuBottom')%>
      <script src="/js/cursos.js" defer=""></script>
</body>

</html>