<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
  <title>mis cursos</title>
  <%- include("../Global/headers") %>
    <link rel="stylesheet" href="/css/cursos.css" media="screen">
</head>

<body class="u-body">
  <%- include('../Global/menu')%>

    <div class="modal fade" id="modalOpinar" tabindex="-1" aria-labelledby="modalOpinarLabel" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content bg-light">
          <div class="modal-header border-bottom-0">
            <h5 class="modal-title" id="modalOpinarLabel"></h5>
            <button type="button" class="btn-close btn-cerrar me-4" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body ">
            <div class="container bg-white mt-3 py-5">
              <div class="row mb-2  d-flex justify-content-center">
                <div class="col-7 d-flex justify-content-start  p-0">
                  <img class="imagenPerfil" src="/images/Perfil/<%= user.imagen_perfil%>" style="width: 50px; height:50px;">
                  <div class="ms-3 d-flex align-items-center fw-bold">
                  <%=user.nombre%>
                  </div>
                </div>
                <div class="col-2 d-flex justify-content-end">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox"
                        value="" id="anonimo_check">
                    <label class="form-check-label"
                        for="anonimo_check">
                        Anónimo
                    </label>
                </div>
                </div>

              </div>
              <div class="row mx-0 d-flex justify-content-center">
                <div class="col-9 p-2 row mx-0 d-flex justify-content-start">
                  <textarea rows="4" class="form-control" id="opinion" type="text" placeholder="Ingrese su opinión"></textarea>
                </div>
              </div>
              <div class="row pb-2 border-bottom d-flex justify-content-center">
                <div class="col-7 my-4">
                  <button class="btn btn-secondary w-100 text-white fw-bold" type="submit" onclick="guardarOpinion()" >Enviar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span class="sr-only" id="idGrupo"></span>
    <span class="sr-only" id="idUsuario"><%= user.id_usuario%></span>
    <section class="u-clearfix u-custom-color-1 u-section-1" id="sec-31be">
      <div class="u-clearfix u-sheet u-sheet-1" id="miscursos">

      </div>
    </section>
    <%- include('../Global/menuBottom')%>
      <script src="/js/cursos.js" defer=""></script>
</body>

</html>