<!DOCTYPE html>
<html id="html">

<head>
    <title>Home</title>
    <%- include("../Global/headers") %>
        <link rel="stylesheet" href="/css/Landing.css" media="screen">
        <link rel="stylesheet" href="/css/ejemplo.css">
</head>

<body class="u-body">
    <%- include('../Global/menu')%>
        <!-- Modal -->
        <div class="modal fade" id="comentarioModal" tabindex="-1" aria-labelledby="comentarioModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content" style=" background-color: #f5f7fa;">
                    <div class="modal-header d-flex bg-white">
                        <i class="far fa-comment-dots fa-2x"></i>
                        <h5 class="modal-title mx-3 fw-bold" id="comentarioModalLabel" style="font-size: 25px;">
                            Comentarios
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            onclick='closeModal()'></button>
                    </div>
                    <div class="modal-body padding-none-xs">
                        <div class="container">

                            <div class="row p-4 rounded padding-none-xs">
                                <div class="col-5 p-3 bg-white   col-md-100">
                                    <div class="row border-bottom pb-2">
                                        <div class="col-2 p-0 d-flex justify-content-end">
                                            <div class="container-img-coment">
                                                <img class="img-comentario" id="opinador-imagen-modal" alt="">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row fw-bold text-dark" id="opinador-nombre-modal">
                                                Anonimo
                                            </div>
                                            <div class="row d-flex justify-content-between">
                                                <span class="col text-muted p-0" id="opinador-fecha-modal">sf </span>
                                                <span class="col text-end text-muted p-0 fst-italic"
                                                    id="opinador-hora-modal"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p id="opinador-opinion-modal">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting, remaining essentially unchanged. It
                                            was popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum
                                        </p>
                                    </div>
                                </div>
                                <div class="col-7 bg-white p-0 col-md-100">
                                    <div class="comentarios-section">
                                        <div class="container">
                                            <div class="row border-bottom p-3 pb-2">
                                                <div class="col-2 d-flex justify-content-end p-0">
                                                    <div class="overflow-hidden rounded p-2"
                                                        style="width: 60px; height: 60px; background-color: #f2cc39;">
                                                        <img class="w-100" src="/images/Icons/computer.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="col" style=" margin-left: 1rem;">
                                                    <div class="row fw-bold text-dark">
                                                        Estructuras de datos
                                                    </div>
                                                    <div class="row d-flex justify-content-between">
                                                        <span class="text-muted fw-bold p-0 col">Universidad Nacional
                                                        </span>
                                                        <span
                                                            class="text-muted fw-light  p-0 col d-flex justify-content-end">Juan
                                                            de Dios </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="comentarios-wrapper" class="comentarios-wrapper">

                                        </div>


                                        <div class="coemntario-wrapper-modal">
                                            <div class="comentario-modal-container ">
                                                <div class="row">
                                                    <div class="col-2 p-0 d-flex justify-content-end">
                                                        <div class="container-img-coment">
                                                            <img class="img-comentario"
                                                                src="/images/Perfil/<%=user.imagen_perfil%>" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="row w-100  fw-bold text-dark">
                                                            <div class="d-flex d-flex justify-content-between">
                                                                <div>
                                                                    <%=user.nombre%>
                                                                </div>
                                                                <div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox"
                                                                            value="" id="anonimo_check">
                                                                        <label class="form-check-label"
                                                                            for="anonimo_check">
                                                                            Anónimo
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-2">
                                                            <textarea type="text" class="form-control"
                                                                placeholder="Comentar..." name="comentario"
                                                                id="comentario_text"></textarea>
                                                        </div>
                                                        <div class="row d-flex justify-content-end w-100">
                                                            <div class="btn btn-secondary w-25 mt-3"
                                                                id="btn_enviar_comentario">
                                                                Comentar
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal para reacciones -->
        <div class="modal fade" id="modal_reacciones" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Entregar reacción</h5>
                        <button id="cerrar-modal-reacciones" type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row d-flex">
                            <div class="reaccion-container"
                                onclick="comprarReaccion(this,'sorprendido','wonder.gif','<%=user.id_usuario%>', '<%=user.monedero%>')">
                                <img class="reaccion-imagen" src="/images/Reacciones/wonder.gif" alt="">
                                <div class="valor-reaccion">
                                    <img class="reaccion-coin" src="/images/Reacciones/dollar.png" alt="">
                                    100
                                </div>
                            </div>
                            <div class="reaccion-container"
                                onclick="comprarReaccion(this,'enamorado','love.gif','<%=user.id_usuario%>', '<%=user.monedero%>')">
                                <img class="reaccion-imagen" src="/images/Reacciones/love.gif" alt="">
                                <div class="valor-reaccion">
                                    <img class="reaccion-coin" src="/images/Reacciones/dollar.png" alt="">
                                    100
                                </div>
                            </div>
                            <div class="reaccion-container"
                                onclick="comprarReaccion(this,'aburrido','sleep.gif','<%=user.id_usuario%>', '<%=user.monedero%>')">
                                <img class="reaccion-imagen" src="/images/Reacciones/sleep.gif" alt="">
                                <div class="valor-reaccion">
                                    <img class="reaccion-coin" src="/images/Reacciones/dollar.png" alt="">
                                    100
                                </div>
                            </div>
                            <div class="reaccion-container"
                                onclick="comprarReaccion(this,'random dino','dino.gif','<%=user.id_usuario%>', '<%=user.monedero%>')">
                                <img class="reaccion-imagen" src="/images/Reacciones/dino.gif" alt="">
                                <div class="valor-reaccion">
                                    <img class="reaccion-coin" src="/images/Reacciones/dollar.png" alt="">
                                    100
                                </div>
                            </div>
                            <div class="reaccion-container"
                                onclick="comprarReaccion(this,'enojado','angry.gif','<%=user.id_usuario%>', '<%=user.monedero%>')">
                                <img class="reaccion-imagen" src="/images/Reacciones/angry.gif" alt="">
                                <div class="valor-reaccion">
                                    <img class="reaccion-coin" src="/images/Reacciones/dollar.png" alt="">
                                    100
                                </div>
                            </div>
                            <div class="reaccion-container"
                                onclick="comprarReaccion(this,'calculando','calculating.gif','<%=user.id_usuario%>', '<%=user.monedero%>')">
                                <img class="reaccion-imagen" src="/images/Reacciones/calculating.gif" alt="">
                                <div class="valor-reaccion">
                                    <img class="reaccion-coin" src="/images/Reacciones/dollar.png" alt="">
                                    100
                                </div>
                            </div>
                            <div class="reaccion-container"
                                onclick="comprarReaccion(this,'enjache','whathing.gif','<%=user.id_usuario%>', '<%=user.monedero%>')">
                                <img class="reaccion-imagen" src="/images/Reacciones/whathing.gif" alt="">
                                <div class="valor-reaccion">
                                    <img class="reaccion-coin" src="/images/Reacciones/dollar.png" alt="">
                                    100
                                </div>
                            </div>
                            <div class="reaccion-container"
                                onclick="comprarReaccion(this,'aplaudir','changing.gif','<%=user.id_usuario%>', '<%=user.monedero%>')">
                                <img class="reaccion-imagen" src="/images/Reacciones/changing.gif" alt="">
                                <div class="valor-reaccion">
                                    <img class="reaccion-coin" src="/images/Reacciones/dollar.png" alt="">
                                    100
                                </div>
                            </div>
                            <div class="reaccion-container"
                                onclick="comprarReaccion(this,'desesperado','desesperate.gif','<%=user.id_usuario%>', '<%=user.monedero%>')">
                                <img class="reaccion-imagen" src="/images/Reacciones/desesperate.gif" alt="">
                                <div class="valor-reaccion">
                                    <img class="reaccion-coin" src="/images/Reacciones/dollar.png" alt="">
                                    100
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <a href="/paquetes/show" class="btn btn-primary">
                            <i class="fas fa-coins text-secondary"></i>
                            Comprar tokens</a>
                    </div>
                </div>
            </div>
        </div>

        <section class="u-clearfix u-palette-5-light-3 u-section-1" id="sec-aa93">
            <div class="u-clearfix u-sheet u-sheet-1 justiy-content-between full-xs">
                <div class="container-opions">

                    <% opiniones.forEach(function(opinion, index){ %>
                        <% if(index%3==0 && index!=0){ %>
                            <% var anuncioRandom = anuncios[Math.floor((Math.random() * anuncios.length) )] %>
                                <div class="card mb-2">
                                    <div class="row p-2 d-flex align-items-center">
                                        <div class="d-flex">
                                            <div class="imagen-perfil-container">
                                                <img src="/images/patrocinadores/<%=anuncioRandom.patrocinador_imagen%>"
                                                    alt="" class="imagen-perfil">
                                            </div>
                                            <span class="fw-bold text-dark ms-2 d-flex align-items-center">
                                                <%= anuncioRandom.patrocinador_nombre %>
                                            </span>
                                        </div>

                                    </div>
                                    <div class="card-body d-flex justify-content-center" style="height: 400px;">
                                        <img src="/images/Anuncios/<%= anuncioRandom.imagen %>" alt="" class=""
                                            style="height: 100%;">
                                    </div>
                                    <div class="card-footer">
                                        <a href="<%= anuncioRandom.link %>" target="_blank"
                                            class="btn btn-primary w-100">Ir a <%= anuncioRandom.patrocinador_nombre %>
                                                </a>
                                    </div>
                                </div>

                                <% } %>

                                    <div id="opinion-card"
                                        class="opinion u-container-style u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-radius-4 u-shape-round u-white u-group-4">
                                        <div class="u-container-layout u-container-layout-4">
                                            <div
                                                class="u-align-left u-border-1 u-border-palette-5-light-3 u-container-style u-expanded-width-md u-expanded-width-xs u-group u-shape-rectangle u-white u-group-5">
                                                <div class="u-container-layout u-container-layout-5">

                                                    <div class="u-container-style u-group ">
                                                        <% if(opinion.img_perfilOp==null){ %>
                                                            <img class="u-image u-shape-circle u-image-3"
                                                                src="/images/Perfil/anonimo.png" alt="">
                                                            <% } else { %>
                                                                <img class="u-image u-shape-circle u-image-3"
                                                                    src="/images/Perfil/<%= opinion.img_perfilOp %>"
                                                                    alt="">
                                                                <% } %>
                                                                    <div
                                                                        class="u-container-layout u-container-layout-6">
                                                                    </div>
                                                    </div>
                                                    <p class="u-text u-text-palette-5-base u-text-7">
                                                        <%= opinion.fecha.split(" ")[0] %>  &nbsp;</p>
                                        <p class=" u-text u-text-palette-5-base u-text-8">
                                                            <% if(opinion.ciclo==1){ %>
                                                                I <% }else{ %> II <% } %>
                                                                        CICLO
                                                    </p>
                                                    <p class="u-text u-text-palette-5-light-1 u-text-9">
                                                        <%= opinion.fecha.split(" ")[1].substring(0,5) %></p>
                                        <p class=" u-text u-text-palette-5-dark-2 u-text-10">
                                                            <% if(opinion.id_usuario==null){ %>
                                                                <i>Anonimo</i>
                                                                <% }else{%>
                                                                    <%=opinion.nombre_opinador%>
                                                                        <%}%>
                                                    </p>
                                                </div>
                                            </div>
                                            <div
                                                class="u-container-style u-expanded-width-md u-expanded-width-xs u-group u-shape-rectangle u-white u-group-7">
                                                <div class="u-container-layout u-container-layout-7">
                                                    <div class="u-container-style u-group u-image u-radius-4 u-shape-round u-image-4"
                                                        data-image-width="2000" data-image-height="1333">
                                                        <div class="u-container-layout u-container-layout-8"></div>
                                                    </div>
                                                    <p class="u-text u-text-palette-5-dark-2 u-text-11">
                                                        <%=opinion.curso_nombre%>
                                                    </p>
                                                    <p
                                                        class="u-hidden-md u-hidden-sm u-hidden-xs u-text u-text-palette-5-light-1 u-text-12">
                                                        <%=opinion.creditos%> créditos
                                                    </p>
                                                    <p class="u-text u-text-palette-5-light-1 u-text-13">
                                                        <%=opinion.codigo_curso%>
                                                    </p>
                                                    <p class="u-text u-text-palette-5-light-1 u-text-14">
                                                        <%=opinion.universidad%>
                                                    </p>
                                                </div>
                                            </div>
                                            <div style="border-top: 1px solid #e1e1e1"
                                                class=" u-container-style u-expanded-width u-group u-shape-rectangle u-white u-group-9">
                                                <div class="u-container-layout u-valign-top-lg u-container-layout-9">
                                                    <p class="u-text u-text-15">
                                                        <%= opinion.comentario %>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row  h-25 acciones-opinion">
                                                <div class="col d-flex h-25 col-xss-center">
                                                    <button type="button" class="btn btn-sm btn-secondary likes btn-xss"
                                                        onclick="like('<%=opinion.id_opinion%>')">
                                                        <i class="far fa-thumbs-up"></i> <span
                                                            id="likes_<%=opinion.id_opinion%>">
                                                            <%=opinion.likesCount%>
                                                        </span>
                                                    </button>
                                                    <button type="button"
                                                        class="btn btn-sm btn-secondary dislikes btn-xss"
                                                        onclick="dislike('<%=opinion.id_opinion%>')">
                                                        <i class="far fa-thumbs-down"></i><span
                                                            id="dislikes_<%=opinion.id_opinion%>">
                                                            <%=opinion.dislikesCount%>
                                                        </span>
                                                    </button>
                                                </div>
                                                <div
                                                    class="col d-flex justify-content-end align-items-center h-25 col-xss-center comments-reactions">
                                                    <button type="button" class="btn btn-sm btn-secondary reacciones"
                                                        data-bs-toggle="modal" data-bs-target="#modal_reacciones"
                                                        onclick="setIdOpinion('<%=opinion.id%>')">
                                                        <i class="fas fa-hand-holding-heart"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-sm comments-trigger"
                                                        onclick="getComentarios('<%=opinion.id_opinion%>')"
                                                        data-bs-toggle="modal" data-bs-target="#comentarioModal">
                                                        <i class="fas fa-comment-dots"></i> <span
                                                            id="cant_comment_<%=opinion.id_opinion%>">
                                                            <%=opinion.cant_comentarios%>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% }); %>
                </div>
                <div
                    class="container-info u-container-style u-group u-hidden-md u-hidden-sm u-hidden-xs u-radius-4 u-shape-round u-white ">
                    <div class="u-container-layout u-container-layout-1" style="overflow: auto;">
                        <div class="row pt-2">
                            <div class="col-2 d-flex justify-content-center align-items-center p-0"
                                style="height: 50px; width: 50px;">
                                <div class="imagen-perfil-container">
                                    <img class="imagen-perfil" src="/images/Perfil/<%=user.imagen_perfil%>" alt="">
                                </div>
                            </div>
                            <div class="col">
                                <p class="fw-bold text-dark m-0">
                                    <%=user.nombre%>
                                </p>
                                <p class="fw-light text-muted m-0" style="font-size: 14px;">
                                    <%=user.correo%>
                                </p>
                            </div>
                        </div>


                        <p class="u-text u-text-palette-5-dark-1 u-text-3">Tus cursos</p>
                        <% cursos.forEach(function(curso){%>
                            <div
                                class="u-align-left u-container-style u-group u-radius-1 u-shape-round u-white u-group-2">
                                <div class="u-container-layout u-container-layout-2">
                                    <div class="u-container-style u-group u-image u-shape-circle u-image-2"
                                        data-image-width="2000" data-image-height="1333">
                                        <div class="u-container-layout u-container-layout-3"></div>
                                    </div>
                                    <p class="u-text u-text-palette-5-dark-2 u-text-4">
                                        <%=curso.curso_nombre%>
                                    </p>
                                    <p class="u-text u-text-palette-5-base u-text-5">
                                        <%=curso.creditos%>CRÉDITOS
                                    </p>
                                    <p class="u-text u-text-palette-5-base u-text-6">
                                        <% if(curso.ciclo==1){ %>
                                            I
                                            <% }else{ %>
                                                II
                                                <% } %>
                                                    CICLO
                                    </p>
                                </div>
                            </div>
                            <% }); %>

                    </div>
                </div>
            </div>
        </section>
        <input type="hidden" name="user_session" id="user_session" value="<%=user.id_usuario%>" />
        <input type="hidden" name="comentario_anonimo" id="comentario_anonimo" value="false" />
        <script>
            let OPINIONESGLOBALES = '<%-JSON.stringify(opiniones)%>';
        </script>
        <script>
            $("#comentarioModal").on("show", function () {
                alert($("#html"));
                $("#html").css("overflow", "hidden");
            }).on("hidden", function () {
                $("#html").css("overflow", "hidden");
            });
        </script>
        <script src="/js/home.js"></script>
        <script src="/node_modules/sweetalert2/dist/sweetalert2.all.js"></script>

        <body>

            <%- include('../Global/menuBottom')%>

</html>