<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <title>Perfil</title>
    <%- include("../Global/headers") %>
    <link rel="stylesheet" href="/css/Perfil.css" media="screen">
  </head>
  <body class="u-body">
    <%- include('../Global/menu')%>
    <div class="modal fade" id="modalImage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal" onclick="openModalCameras()"><i class="fas fa-camera"></i></button>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center mb-3">
                        <form action="/cambiarfotoperfil" method="POST" enctype="multipart/form-data">
                            <div class="alert alert-danger my-2" id="formatoImagenInvalido" role="alert" style="display: none;">
                                <p class="m-0">Formato de Imagen invalida!</p>
                            </div>
                            <span class="sr-only" id="usuario_foto"></span>
                            <label for="image" role="button" id="profileImageChange" class="d-block">
                                <div class="avatar-bg center profile-pic mx-auto mt-4 "style="width: 450px;height: 450px;">
                                </div>
                            </label>
                            <input type="text" name="id_usuario" id="id_usuarioModal" hidden>
                            <input type="file" id="fileFoto" name="image" style="visibility: hidden;">
                            <div id="sendFileFoto">

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3 py-2 border-bottom">
		<div class="modal fade" id="detalleCurso" tabindex="-1" aria-labelledby="detalleCursoLabel" aria-hidden="true">
			<div class="modal-dialog modal-fullscreen">
				<div class="modal-content bg-light">
					<div class="modal-header border-bottom-0">
						<h5 class="modal-title" id="detalleCursoLabel"></h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body ">
						<div class="container bg-white mt-3 py-5">
							<div class="row mx-0 ">
								<div class="col-3 d-flex justify-content-lg-end justify-content-md-start ps-0">
									<img class="imagenPerfil" src="/images/Icons/circleYellow.png">
								</div>
								<div class="col-9 row mx-0 d-flex justify-content-start">
									<div class="col-sm-6">
										<h2 class="my-0" id="nombreCursoModal"></h2>
									</div>
									<div class="col-sm-6 flex-column">
										<button type="button" class="btn btn-primary btn-sm mt-1">Carta al Estudiante</button>
									</div>
									<div id="infoDescUp">
										<span class="text-muted" id="carreraCursoModal"></span><br>
										<span class="text-muted" id="creditosCursoModal"></span>
									</div>
								</div>
							</div>
							<div class="row mx-0 mt-3" id="infoDescBottom">
								<span class="text-muted" id="carreraCursoModal1"></span><br>
								<span class="text-muted" id="creditosCursoModal1"></span>
							</div>
							<div class="row pb-2 border-bottom ">
								<span class="" id="descripcionCursoModal"></span><br>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<span class="sr-only" id="idUsuario"><%= user.id_usuario%></span>
        <div class="row mx-0 ">
            <div class="col-3 d-flex justify-content-lg-end justify-content-md-start ps-0" 
				onclick="openImageModal('<%= user.id_usuario%>','/images/Perfil/<%=user.imagen_perfil%>')" role="button">
              	<img class="imagenPerfil" src="/images/Perfil/<%=user.imagen_perfil%>">
            </div>
            <div class="col-9 row mx-0 d-flex justify-content-start">
				<div class="col-sm-6">
					<h2 class="display-1 my-0" id="perfilUsernameE">@<%= perfil.username%></h2>
				</div>
				<div class="col-sm-6 flex-column" id="botonEditarPerfil">
					<button type="button" class="btn btn-secondary btn-sm mt-1" 
					id="botonEditarPerfil" onclick="editarPerfilPrompt()">Editar Perfil</button>
				</div>
				<div id="infoDescUp">
					<strong><%= user.nombre%></strong><br>
					<span class="text-muted"><%= perfil.carrera%></span><br>
					<span class="text-primary" id="userCorreoE"><%= user.correo%></span>
				</div>
            </div>
        </div>
		<div class="row mx-0 mt-2" id="infoDescBottom">
			<strong><%= user.nombre%></strong><br>
			<span class="text-muted"><%= perfil.carrera%></span><br>
			<span class="text-primary"><%= user.correo%></span>
		</div>  
    </div>
    <div class="container p-0 mt-4" >
		<div class="row w-100 mx-0" id="cursosRestantes">

		</div>
	</div>
    <%- include('../Global/menuBottom')%>
	<script src="/js/perfil.js"></script>
  </body>
</html>
