<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <title>Perfil</title>
    <%- include("../Global/headers") %>
    <link rel="stylesheet" href="/css/Perfil.css" media="screen">
  </head>
  <body class="u-body">
    <%- include('../Global/menu')%>
    <div class="container mt-3 py-2 border-bottom">
        <div class="row mx-0 ">
            <div class="col-3 d-flex justify-content-lg-end justify-content-md-start ps-0">
              	<img class="imagenPerfil" src="/images/Perfil/<%=user.imagen_perfil%>">
            </div>
            <div class="col-9 row mx-0 d-flex justify-content-start">
				<div class="col-sm-6">
					<h2 class="display-1 my-0">@<%= perfil.username%></h2>
				</div>
				<div class="col-sm-6 flex-column">
					<button type="button" class="btn btn-secondary btn-sm mt-1">Editar Perfil</button>
				</div>
				<div id="infoDescUp">
					<strong><%= user.nombre%></strong><br>
					<span class="text-muted"><%= perfil.carrera%></span><br>
					<span class="text-primary"><%= user.correo%></span>
				</div>
            </div>
        </div>
		<div class="row mx-0 mt-2" id="infoDescBottom">
			<strong><%= user.nombre%></strong><br>
			<span class="text-muted"><%= perfil.carrera%></span><br>
			<span class="text-primary"><%= user.correo%></span>
		</div>  
    </div>
    <div class="container border border-5 rounded-3 border-primary bg-primary p-0 mt-4">
		<div class="mx-0 bg-white stand" id="cursosRestantes" style="overflow-x: auto; min-width: 100%;">
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
			<div class="libroCus">
				<div class="lineBookO mt-3"></div>
				<div class="lineFlipText">prueba</div>
				<div class="lineBookO mt-5"></div>
			</div>
		</div>
		<div class="row mx-0 bg-white stand mt-2" id="cursosCursados">
			
		</div>
	</div>
    <%- include('../Global/menuBottom')%>
  </body>
</html>